[Unit]
Description=consul server daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/consul agent -ui -config-file /etc/consul.conf -config-dir /etc/consul.d
ExecReload=/usr/bin/consul reload
Restart=on-failure
RestartSec=42s
SuccessExitStatus=1

[Install]
WantedBy=multi-user.target
