[Unit]
Description=consul server daemon
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStartPre=/usr/bin/consul-env2conf.sh
ExecStart=/usr/bin/consul agent -ui -config-file /etc/consul.json -config-dir /etc/consul.d
ExecReload=/usr/bin/consul reload
ExecStop=/usr/bin/consul leave
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
