{
{{- if keyExists "jwt" }}
  {{$jwt := key "jwt" | parseJSON }}
  "fqdn": "{{ env "JWT_ISSUER_FQDN" }}",
  "type": "issue",
  "encode": {
    "alg": "HS256",
    "expSec": "{{ $jwt.expSec }}",
    "key": "{{ $jwt.sharedKey }}",
    "updateExpSec": "{{ $jwt.updateExpSec }}"
  },
  "subject":
  {
    "from":"variable",
    "var_name":"remote_user"
  },
  "privateClaim":
  {
    "copyFromHeader": {{ toJSON  $jwt.attrs}}
  },
  "onSuccess":
  {
    "set_cookie":
    {
      "name":"access_token",
      "opts":"Path=/;Secure"
    },
    "redirect":
    {
      "uriPattern": {{ toJSON $jwt.uriPattern }},
      "param_name":"access_token"
    },
    "content": {
      "template": "succeeded.template.json"
    }
  },
  "onError":
  {
    "code":"400",
    "template":"error.template.json"
  }
{{- end }}
}
