{
{{- if keyExists "jwt" }}
  "fqdn": "{{ env "CORE_FQDN" }}",
  "type": "verify",
  "decode": {
      "key": "{{ $jwt:= key "jwt" | parseJSON}}{{ $jwt.sharedKey }}"
  },
  "receive": {
    "byCookie": {
      "name": "access_token"
    },
    "byQuery": {
      "name":"access_token"
    }
  },
  {{- if keyExists "idps" }}
    "diff_attrs": {
      "attribute_resolver": {
          "entity_id": "{{- range $idx, $idp := ( key "idps" | parseJSON ) }}{{- if ( eq $idx 0 ) }}{{$idp}}{{- end}}{{- end}}"
      },
      "targets": [{{- range $idx, $attribute := ls "attributes"  }}{{- $attribute := .Value|parseJSON}}
        {{- if $idx}},{{- end}}"{{$attribute.source}}" {{- end}}]
    },
  {{- end }}
  "onDeny": {
  {{- if env "JWT_ISSUER_FQDN" }}
    {{- scratch.Set "scheme" "http"}}
    {{- if env "CERTIFICATE_MODE" }}
      {{- scratch.Set "scheme" "https"}}
    {{- end }}
    "code": "302",
    "redirect": {
      "uri": "{{ scratch.Get "scheme" }}://{{ env "JWT_ISSUER_FQDN" }}/JWTIssuer",
      "param_name": "redirect_uri"
    }
  {{- else }}
    "code": "401",
    "template": "deny.template.html"
  {{- end }}
  }
{{- end }}
}
