[Unit]
Description=JWT Verifier Configure
Requires=consul.service
After=consul.service nginx.service

[Service]
Type=simple
EnvironmentFile=/var/run/SYSTEMD_ENV
ExecStart=/usr/bin/consul-template \
  '-template=/usr/lib/chip-in/jwtVerifier.json.tmpl:/etc/nginx/WebGate.jwt.settings/jwtVerifier.json:systemctl reload nginx' \
  '-template=/usr/lib/chip-in/jwtVerifier.conf.tmpl:/etc/nginx/conf.d/auth.conf.location:systemctl reload nginx' \
  '-template=/usr/lib/chip-in/acl.json.tmpl:/etc/mosquitto/acl.json' \
  '-template=/usr/lib/chip-in/mosquitto.conf.tmpl:/etc/mosquitto/mosquitto.conf:systemctl restart mosquitto'
ExecReload=/usr/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=30s
KillSignal=INT
SuccessExitStatus=12

[Install]
WantedBy=multi-user.target
